<div class="home">
  <h1>SAVINGS BOX</h1>
  <div class="amount">
    <div class="amount__content">
      <span class="amount__value">{{ savings }}</span>
      <img class="amount__icon icon icon__grey" src="assets/icons/saving-box.svg">
    </div>
    <div class="amount__corner amount__top-left-corner"></div>
    <div class="amount__corner amount__top-right-corner"></div>
    <div class="amount__corner amount__bottom-left-corner"></div>
    <div class="amount__corner amount__bottom-right-corner"></div>
  </div>
  <div class="list">
    <app-box
      *ngFor="let box of boxes; let index = index"
      [box]="box"
      [selected]="selectedBox === index"
      (select)="selectBox(index)"
    >
    </app-box>
  </div>
  <div class="add-box" (click)="addBox()">
    <img class="icon" src="assets/icons/add-color.svg" alt="">
  </div>
</div>